*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background: url("../img/hojas.jpg");
    background-attachment: fixed;
}

.clear-fix{
    clear: both;
    float: none;
}

#global{
    width: 65%;
    margin: 0 auto;
    margin-top: 30px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 2px #ccc;
}

#logo{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    background-color: #235e3d;
    color: white;
    text-align: center;
    width: 390px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
    line-height: 80px;
}