<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{title}}</h1>
        <h2 class="display-4">{{subtitle}}</h2>
        <p class="lead">{{email}}</p>
    </div>
</div>

<article class="container">
    <h2>Sobre mí</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusamus quia asperiores distinctio illo, dolores ad quam aut repellendus laboriosam placeat neque harum expedita deserunt dolor? Officiis nam qui accusantium!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse omnis laboriosam reprehenderit enim corrupti fuga earum, deserunt, blanditiis incidunt nisi rerum voluptates dignissimos? Magnam officia iure harum unde quisquam quae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repellendus aliquid odio dolore dolores, magnam eum qui quos fugit dolor saepe! Ratione autem quod accusamus. Iste, aperiam! Repellendus, reiciendis sint?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod eius neque. Ad, maxime eveniet quo pariatur, asperiores accusamus sapiente repellendus molestias ab numquam voluptas veritatis voluptatum tenetur est consectetur.
    </p>
</article>